<div class="skippr-container center">
    <div id="theTarget">
        <div class="img-size" style="background-image: url(<%= asset_url 'DSC_1455.jpg' %>)"></div>
        <div class="img-size" style="background-image: url(<%= asset_url 'DSC_5388.JPG' %>)"></div>
        <div class="img-size" style="background-image: url(<%= asset_url 'DSC_5389.JPG' %>)"></div>
        <div class="img-size" style="background-image: url(<%= asset_url 'DSC_5392.JPG' %>)"></div>
    </div>
</div>
<div class="container padding-top">
	<div class="center-block col-md-9">
		<p>
      沼津の美味しいをお届けしますよおおおおおおおおおおおおお！！！！！！！！
      自宅に引きこもってまっていてくださいねええええええええええ！！！！！！！
    </p>
	</div>
	<div class="pull-right col-xs-3 padding-top">
		<p>〒000-0000</p>
		<p>静岡県沼津市△△村１−１−１</p>
		<p>ぬまとめEC</p>
	</div>
</div>